body {
  background-color: #004b6a;
  font-family: 'Montserrat', Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  line-spacing: 1.6rem; }

p {
  font-weight: 100;
  line-height: 1.6rem;
  color: #dbecf3; }
  p a {
    color: #1dbdff; }

h2, h3 {
  padding-top: 1rem;
  color: #5AE3D5; }

article h2:first-child {
  padding-top: 0; }
