.tweet {
  background-color: #005d83;
  margin: 2rem 0;
  padding: 0.5rem 1rem; }
  .tweet p {
    color: #fff;
    white-space: pre-wrap; }
  .tweet .tweet-date {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    color: #6ad3ff; }
    .tweet .tweet-date img {
      max-height: 2rem;
      max-width: 2rem;
      vertical-align: middle;
      margin-right: 0.5rem; }
